.client-status {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  border-radius: 8px;
}

.pd-8 {
  padding: 0.2rem 0.8rem;
}

.pd-17 {
  padding: 0.2rem 1.7rem;
}

.pd-26 {
  padding: 0.2rem 2.6rem;
}